@media (min-width: 768px) {
	// HEADER
	.header {
		&__hero {
			display: none;
		}
		&__container {
			display: flex;
			justify-content: center;
		}
		&__content {
			min-width: 500px;
			margin: 4em 3em;
		}
		&__desktopHero {
			display: block;
			object-fit: none;
		}
	}
	// MAIN
	.main {
		&__content {
			p {
				max-width: 550px;
			}
		}
	}
	// SECTIONS
	.section-mark {
		&-second {
			top: 6.5rem;
			margin: 6em 0 2em 0;
		}
	}
	// FOOTER
	.footer {
		padding: 8em 0;
		&__content {
			flex-direction: row;
			justify-content: space-between;
			text-align: left;
			h2 {
				width: 25%;
			}
			p {
				width: 25%;
			}
		}
	}
}
