@media (min-width: 768px) {
	// HEADER
	.header {
		&__hero {
			display: none;
		}
		&__container {
			display: flex;
			justify-content: center;
		}
		&__content {
			min-width: 500px;
			margin: 4em 3em;
		}
		&__desktopHero {
			display: block;
			object-fit: none;
		}
	}
	// MAIN
	.main {
		&__content {
			p {
				max-width: 550px;
			}
		}
	}
}
