@media (min-width: 576px) {
	//TYPOGRAPHY
	p {
		max-width: 50rem;
	}
	// HEADER
	.header {
		&__action {
			flex-direction: row;
			margin: 1em 0;
			button {
				margin: 0 0.5em;
			}
		}
	}
	// MAIN
	.main {
		&__gallery {
			img {
				width: 23%;
				margin: 0;
				border-radius: 8px;
			}
		}
	}
}
