// COLORS VARIABLES

@use 'colors' as *;

// RESET

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

// ROOT

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-color: $white;
	font-family: 'Red Hat Display', sans-serif;
	color: $grey;
	font-size: 1.8rem;
	line-height: 2.6rem;
}

.wrapper {
	padding: 0 1em;
	width: 100%;
	max-width: 1400px;
}

// HEADER

.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	&__logo {
		margin: 2em 0;
	}
	&__hero {
		width: 115%;
		margin: 2em 0;
	}
	&__content {
		display: flex;
		padding: 0 1em;
		flex-direction: column;
		align-items: center;
	}
	&__desktopHero {
		display: none;
	}
	&__title {
		max-width: 450px;
		margin: 0.5em 0;
	}
	&__text {
		max-width: 450px;
		margin: 0.5em 0;
	}
	&__action {
		display: flex;
		flex-direction: column;
		align-items: center;
		button {
			margin: 0.5em 0;
		}
	}
}
// IMPORTS

@import 'components';
@import 'medium';
@import 'large';
